{% extends "base.html" %}
{% block content %} 

<section class="stylist_list">
    <a href="stylists/new">Add Stylist</a>

    <h2>Stylists</h2>

    {% for stylist in stylists %}

    <p>{{ stylist.name }}</p>
    <a href="/stylists/{{ stylist.id }}/edit"></a>
        <form action="/stylists/{{ stylist.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    <a href="stylists/{{ stylist.id }}/edit">Update Stylist</a>

{% endfor %}
</section>
{% endblock%}
