* {
    font-family: cursive;
}

html {
    background: url("images/logo_template.png") no-repeat center center fixed;
    background-size: cover;
    height: 90%;
}

h2 {
    text-decoration: underline;
}

h2.page-title {
    display: grid;
    justify-content: center;
}
.box-container {
    display: grid;
    justify-content: center;
    align-items: center;
    border-color: purple;
}

.name-box {
    display: grid;
    align-items: center;
    justify-content: center;
}

p.name {
    text-decoration: underline;
    color: blueviolet;
}
header {
    margin-top: 15rem;
}

.header-container {
    display: flex;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    align-items: stretch;
}

nav {
    margin-left: 30rem;
}

nav ul li {
    display: inline-flex;
    
}

h2.background-lightblue {
    background-color: lightskyblue;
}







