* {
    border: 2px solid red;
    font-family: cursive;
}

html {
    display: flex;
    background: url("images/logo_template.png") no-repeat center center fixed;
    background-size: cover;
    height: 90%;
    overflow: hidden;
    background-position: bottom center;
}

body {
    display: flex;
    flex-direction: column;
    border-color: blue;
    margin: auto;
}

header {
    display: flex;
    margin:auto;
}

nav {
    display: flex;
    flex-direction: row;
    border-color: aqua;
    margin: auto;
}

nav ul {
    display: flex;
    margin: auto;
    /* justify-content: center;
    list-style-type: none;
    gap: 3rem;
    font-family: cursive;
    font-size: 20px;
    border-color: orange */
}

nav ul li {
    display: flex;
    margin: auto;
}







