h1 {
    font-family: cursive;
    text-align: center;
    color: rgb(234, 9, 181);
    font-size: 40px;
}

html {
    background: url("images/logo_template.png") no-repeat center center fixed;
    background-size: cover;
    height: 90%;
}

body {
    font-family: cursive;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 3rem;
    margin-top: 13rem;
    margin-left: 7rem;
    font-family: cursive;
    font-size: 20px;
}

.home_page_image {
    display: flex;
    flex-direction: center;
    justify-content: center;
    ;  
}

.home_image {
    display: flex;
    justify-content: center;
    width: 25%;
    height: auto;
}

.stylist_list {
    text-align: center;
}