<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ASH Studios</title>
</head>
<body>
    <header>
        <h1>ASH Studios</h1>
            <nav class="header-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/clients">Clients</a></li>
                    <li><a href="/stylists">Stylists</a></li>
                    <li><a href="/appointments">Appointments</a></li>
                </ul>
            </nav>
            <hr>
</header>
{% block content %}
{% endblock %}
</body>
</html>