{% extends "base.html" %}
{% block content %} 

<div class="box-container">
<button><a href="clients/new">Add Client</a></button>

<h2 class="page-title">Clients:</h2>

    {% for client in clients %}
    
    <div class="name-box">
        
        <p class="name">*{{ client.name }}*<br>*{{ client.phone_number }}</p>
        <a href="/clients/{{ client.id }}/edit"></a>

            
        <form action="/clients/{{ client.id }}/delete" method="POST">
            <input type="submit" value="Delete">
            </form>
            <a href="clients/{{ client.id }}/edit">Update Client</a>
        {% endfor %}
    </div>
</div>
    
{% endblock%}